body{
    background-color: rgb(179, 219, 179);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    
    background-color: white;
    border-radius: 20px; 
} 

button{
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: auto;
    display: block;
    width: 200px;
    height: 80px;
    position: relative;
    margin-top: 600px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;

    border: none;
    border-radius: 50px;
    background-color: #931f36;
    box-shadow: 0 9px #581c25
} 

button:hover{
    background-color: #7a1318;
}

button:active{
    box-shadow: 0 5px rgb(61, 19, 25);
    transform: translateY(4px);
}

.div{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  #player{
    display: none;
  }